
.clearing{
	clear:both;
	height:0;
	float:none;
}

.busline a {
  float: left;
  height: 24px;
  line-height: 24px;
  position: relative;
  font-size: 11px;
  margin-top:5px;
}
.busline a {
  margin-left: 20px;
  padding: 0 10px 0 12px;
  background: #0099da;
  color: #fff;
  text-decoration: none;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
}
.busline a:before {
  content: "";
  float: left;
  position: absolute;
  top: 0;
  left: -12px;
  width: 0;
  height: 0;
  border-color: transparent #0099da transparent transparent;
  border-style: solid;
  border-width: 12px 12px 12px 0;
}
.busline a:after {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  float: left;
  width: 4px;
  height: 4px;
  background: #fff;
  -moz-box-shadow: -1px -1px 2px #004977;
  -webkit-box-shadow: -1px -1px 2px #004977;
  box-shadow: -1px -1px 2px #004977;

  border-width: 12px 12px 12px 0;
}
.busline a:hover {
  background: #555;
}
.busline a:hover:before {
  border-color: transparent #555 transparent transparent;
}

.buslinesBoxLeft{
	float:left;width:50%;
}

.buslinesBoxRight{
	float:left;
	width:50%;
}

.buslineWrapper{
	height: auto;
	width: 100%;
	padding-bottom: 5px;
}

.busIcon{
	float:left;
	width:15px;
	height:15px;
	background-size:15px 15px;
}

#toggleButtonsPlaner{
	font-size:11px;
}

.backButton{
  -moz-border-radius: 46px;
  -webkit-border-radius: 46px;
  border-radius: 46px; /* border radius */
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box; /* prevents bg color from leaking outside the border */
  background-color: #3d4f5e;
  opacity: 0.9;
  float:right;
}

.achievementsTextSmall{
  font-size:13px;
  text-align:center;
}

.orangeBorder{
  background-color:rgba(211, 83, 0, 0.9);
  display:block;
  height:5px;
  overflow:hidden;
}

.backButton span{
  line-height:30px;
  font-size:9px;
  color:#fff;
  text-overflow: inherit;
}

.transparentWhite{
  background-color: rgba(255,255,255, 0.6);
}

.uppercaseHeadline{
  font-family:Helvetica;
  text-transform:uppercase;
  font-size:13px;
}

.textCenterSmall{
  font-size:12px;
  opacity: 0.7;
  text-align:center; 
}

.mainViewStartBtn{

}

.green{
  color:#26A65B;
}

.red{
  color:#D91E18;
}

.bold{
  font-weight: bold;
}

.marginZeroPaddingZero{
  margin:0px;
  padding:0px;
  background-size:185px auto;
  background-position: center center;
  background-repeat: no-repeat;
}

.roundTransparentBg{
  -webkit-border-radius: 100%;
  border-radius: 100%; /* border radius */
  -webkit-background-clip: padding-box;
  background-clip: padding-box; /* prevents bg color from leaking outside the border */
  background-color: fff;
  display:block;
  font-size:11px;
  opacity:0.3;
}

.textCenter{
  text-align: center;
}

.divCenter{
  background: none;
  margin-left: auto;
  margin-right: auto;
}
.transparentList{
  background-color: none;
}


.tableHeadline{
  font-weight: bold;
  font-size: 12px;
}

#creditsTable{
  display: block;
  height: auto;
  width: 320px;
  font-size: 12px;
}

#creditsTable tr td{
  padding:3px;
  vertical-align: top;
}

.gitURL{
  padding-right:15px;
}


